<section class="features-intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 nopadding features-intro-img">
                <div class="features-bg">
                    <div class="texture-overlay"></div>
                    <div class="features-img wp1">
                        <img src="{{ page.media[page.header.logo].url }}" alt="Logo">
                    </div>
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <div class="features-slider">
                    <ul class="slides" id="featuresSlider">
                        {% for slide in page.header.slider %}
                            <li>
                                <h1>{{ slide.title }}</h1>
                                <p>{{ slide.content }}</p>
                                <p><a href="{{ slide.link_url }}" class="arrow-btn">{{ slide.link_text }} <i class="fa fa-long-arrow-right"></i></a></p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

