<header>
  <section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="#"><img src="{{ url('theme://img/logo-white.png') }}" alt="Boxify Logo"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12">
          <h1 class="animated fadeInDown">{{ site.header.title }}</h1>
            
          {% for button in site.header.buttons %}
              <a href="{{ button.link }}" class="{{ button.class }}">{{ button.text }} {% if button.icon %}<i class="fa fa-{{ button.icon }}"></i>{% endif %}</a> 
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</header>